body{
    background-color: black;
    color:seashell;
    font-size:22px;
    opacity: 0.9;
    font-family:helvetica;
}
header {
    border-bottom: 1px solid seashell;
  height:69px;
   display: flex;
  justify-content: space-between;
  position:fixed;
  width:100%;
}
.logo-container img{
height:50px;
}

.logo-container{
    margin-left:10px;
    
}

nav ul{
    display:flex;
    list-style-type: none;
    margin : 10px 10px;
    padding-left: 0px;
  
}
nav ul li{
    margin-left:5px;
    margin-right:5px;
    color:seashell;
    text-decoration: underline;
}
nav a:link{
    color:seashell
}
